* {
    box-sizing: border-box;
    /* border: rgb(160, 160, 242) 2px solid; */
}

html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

header {
    justify-content: center;
}

#todo-title {
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.page {
    max-width: 800px;
    padding: 16px;
    background-color: rgba(245, 245, 220, 0.553);
    color: white;
    margin-top: 50px;
    border-radius: 25px;
}

header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.back-link {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    font-size: x-large;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: black;
    line-height: 30px;
    text-align: center;
}

.back-link:hover {
    background-color: black;
    color: white;
}

#dati-todo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 50px;
    color: black;
    text-shadow: 1px 1px 2px lightseagreen;
}