*{
    box-sizing: border-box;
    /* border: rgb(160, 160, 242) 2px solid; */
}

html, body{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page{
    max-width: 800px;
    padding: 16px;
}
header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.back-link{
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    font-size: x-large;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: black;
    line-height: 30px;
    text-align: center;
}

.back-link:hover{
    background-color: black;
    color: white;
}