* {
    box-sizing: border-box;
    /* border: rgb(160, 160, 242) 2px solid; */
}

html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.page {
    max-width: 800px;
    padding: 16px;
    background-color: rgba(245, 245, 220, 0.57);
    color: white;
    margin-top: 50px;
    border-radius: 25px;
}

.title-index {
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.todo-card {
    margin-bottom: 4px;
    padding: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px;
    color: black;

}

span {
    margin-left: 10px;
    display: block;
    text-align: left;
    width: 100%;
    text-shadow: 1px 1px 2px lightskyblue;
}

/* .detail-btn{
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    font-size: x-large;
    width: 30px;
    height: 30px;
    line-height: 10px;
}
.detail-btn:hover{
    background-color: black;
    color: white;
} */

.arrow-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
}

.actions-div {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.check-btn {
    background: rgb(76, 180, 116);
    border: none;
    font-size: x-large;
    color: white;
    box-shadow: 1px 1px 2px rgb(29, 32, 34);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.check-btn:hover {
    transform: scale(1.8);
}

.actions {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    font-size: large;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: black;
    line-height: 30px;
    text-align: center;
    box-shadow: 1px 1px 2px rgb(29, 32, 34);
    margin-right: 10px;
}

.actions:hover {
    background-color: black;
    color: white;
}

.btns-container {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;

}

.btn {
    display: inline-block;
    padding: 8px 18px;
    background: #004a9e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px rgb(29, 32, 34);
}

.btn:hover {
    background: #8dadd5;
    border: #020024 1px solid;
    color: black;
}

.colored-dot {
    margin-left: 10px;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgb(29, 32, 34);
}